* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: darkgray;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 10px;
  grid-auto-rows: minmax(210px, auto);
}

.item {
  padding: 10px;
  font-size: 30px;
  background-color: white;
  border: 3px solid black;
}
